<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hashtagitco.aarti_sangrah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/aarti_logo_app_icon"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-3940256099942544/6300978111" />-->

                <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->


        <activity android:name="com.hashtagitco.aarti_sangrah.LyricsActivity"></activity>
        <activity android:name="com.hashtagitco.aarti_sangrah.SongActivity" />
        <activity
            android:name="com.hashtagitco.aarti_sangrah.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <service android:name="com.hashtagitco.aarti_sangrah.MyService"/>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6518391481638658~3542010485"/>
    </application>

</manifest>